*.pyc
.idea/*
db.sqlite3
staticfiles/
/media
v_env/
.DS_Store
/cache
local_settings.py

# Каталоги на хостинге
/.direnv
/__pycache__
/env
/public_html
/tmp

# Файлы на хостинге
.envrc
passenger_wsgi.py