{% extends "index.html" %}
{% load thumbnail %}


{% block application %}
    <a href="{% url 'home' %}">Главная</a>
    <div>
        <h1>{{ house.name }}</h1>
        <div>{{ house.price }} </div>
        <div>{{ house.description }}</div>

        {% thumbnail house.photo "650x400" crop="center" as im %}
            <img src="{{ im.url }}" alt="Дом {{ house.name }}">
        {% endthumbnail %}

        {% if house.active %}
        
        <h2>Забронировать дом</h2>

        {% if sent %}
            <p>Спасибо ваша заявка принята! Мы свяжемся с вами в ближайшее время.</p>
        {% endif %}

        <form method="post" action="{% url 'house' house_id=house.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Забронировать</button>
        </form>
    {% endif %}
        
    </div>
{% endblock %}

