{% extends "index.html" %}
{% load thumbnail %}

{% block application %}

    <h1>{{ house.name }}</h1>
    
    <div>
        {% if house.photo %}
            {% thumbnail house.photo "650x400" crop="center" as im %}
                <img src="{{ im.url }}" alt="{{ house.name }}" style="max-width: 100%; border-radius: 12px;">
            {% endthumbnail %}
        {% else %}
            <p>Фото отсутствует</p>
        {% endif %}
    </div>

    <h2>Цена: {{ house.price }} </h2>
    <p>{{ house.description }}</p>

    <br>
    <a href="{% url 'houses_list' %}">← Вернуться к списку домов</a>
{% endblock %}

