<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Дом у моря</title>
</head>
<body>
    <h1>Дом у моря</h1>
    <h2>Наши дома</h2>

    {% for house in houses %}
        <div style="border: 1px solid #ccc; margin: 15px 0; padding: 15px; border-radius: 8px;">
            <h3>{{ house.name }}</h3>
            <p><strong>Цена:</strong> {{ house.price }} </p>
            <p>{{ house.description }}</p>
            
            {% if house.photo %}
                <img src="{{ house.photo.url }}" alt="{{ house.name }}" style="max-width: 350px; border-radius: 8px;">
            {% endif %}
        </div>
    {% empty %}
        <p>Пока нет добавленных домов.</p>
    {% endfor %}
</body>
</html>